startup --windows_enable_symlinks
build --enable_runfiles
build --java_runtime_version=remotejdk_11
test --test_output=errors

# JRuby needs $HOME for File#expand_path to work: https://github.com/jruby/jruby/issues/5661.
# TruffleRuby needs $HOME too: https://github.com/oracle/truffleruby/issues/2784.
build --action_env=HOME
test --test_env=HOME

# JRuby 9.3 fails with "Errno::EACCES: Permission denied - NUL" on Windows:
# https://github.com/jruby/jruby/issues/7182#issuecomment-1112953015.
test --test_env=JAVA_OPTS="-Djdk.io.File.enableADS=true"

# Allows to run tests with rdbg:
# 1. Add breakpoint with `binding.break`.
# 2. Run tests: `bazel test --config debug spec:add`.
# 3. Connect to debugger: `bazel-gem/external/bundle/bin/rdbg -A`.
test:debug --cache_test_results=no --test_output=streamed --run_under="@bundle//:bin/rdbg --nonstop --open --command"
