bazel_env_dir="bazel-out/bazel_env-opt/bin/bazel_env/bin"

watch_file "${bazel_env_dir}"
PATH_add "${bazel_env_dir}"

if [ ! -d "${bazel_env_dir}" ]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //:bazel_env' to" \
    "regenerate ${bazel_env_dir}"
fi
