name: CI
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  schedule:
    - cron: 14 21 * * *

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  ruleset:
    name: Ruleset
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelrc: common --announce_rc --color=yes
          repository-cache: true
      - run: bazel run :buildifier.check
      - run: bazel test --verbose_failures --test_output=errors --test_summary=detailed ...
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3

  examples-gem:
    name: Examples / Gem
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.2.9
          - 3.3.9
          - 3.4.6
          - 3.5.0-preview1
          - jruby-10.0.2.0
          - truffleruby-25.0.0
          - system
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        mode:
          - bzlmod
          - WORKSPACE
        exclude:
          # Previews are not available via RubyInstaller.
          - os: windows-latest
            ruby: 3.5.0-preview1
          # TruffleRuby doesn't work on Windows.
          - os: windows-latest
            ruby: truffleruby-25.0.0
          # GH282: System Ruby on Windows is no longer working.
          - os: windows-latest
            ruby: system
    defaults:
      run:
        working-directory: examples/gem
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          # Move autoload_externally to .bazelrc once Bazel 6 support is dropped.
          bazelrc: common --announce_rc --color=yes --incompatible_autoload_externally= ${{ matrix.mode == 'WORKSPACE' && '--enable_workspace' || '' }}
          module-root: examples/gem
          # Workaround for long path issues: https://github.com/jruby/jruby/issues/3995.
          output-base: ${{ matrix.os == 'windows-latest' && 'D:/b' || '' }}
          repository-cache: true
      - run: echo ${{ matrix.ruby }} > .ruby-version
      - if: matrix.ruby == 'system'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.9
      - run: bazel build ...
      - run: bazel run lib/gem:add-numbers 2
      - run: bazel run lib/gem:print-version
      - run: bazel run "@ruby" "--" -e "puts RUBY_VERSION"
      - run: bazel run "@ruby//:bundle" "--" lock
      - run: bazel run "@ruby//:gem" "--" info
      - run: bazel run "@bundle//bin:rake" "--" --version
      - run: bazel run "@bundle//bin:rspec" "--" --help
      - run: bazel test ...
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3

  examples-jekyll:
    name: Examples / Jekyll
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
    defaults:
      run:
        working-directory: examples/jekyll
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelrc: common --announce_rc --color=yes
          module-root: examples/jekyll
          repository-cache: true
      - run: bazel build ...
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3

  examples-native_ext:
    name: Examples / Native Ext
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.3.9
          - jruby-10.0.2.0
        use-system-ruby:
          - true
          - false
    defaults:
      run:
        working-directory: examples/native_ext
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelrc: common --announce_rc --color=yes
          module-root: examples/native_ext
          repository-cache: true
      - if: matrix.use-system-ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: echo ${{ matrix.use-system-ruby && 'system' || matrix.ruby }} > .ruby-version
      - run: bazel build ...
      - if: failure() && runner.debug == '1'
        uses: mxschmitt/action-tmate@v3

  examples-deep-gem:
    name: Examples / Deep Gem
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - jruby-10.0.2.0
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    defaults:
      run:
        working-directory: examples/deep_gem
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          # Move autoload_externally to .bazelrc once Bazel 6 support is dropped.
          bazelrc: common --announce_rc --color=yes --incompatible_autoload_externally=
          module-root: examples/deep_gem
          # Workaround for long path issues: https://github.com/jruby/jruby/issues/3995.
          output-base: ${{ matrix.os == 'windows-latest' && 'D:/b' || '' }}
          repository-cache: true
      - run: echo ${{ matrix.ruby }} > .ruby-version
      - if: matrix.ruby == 'system'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.9
      - run: ./do_test

  examples-rails:
    name: Examples / Rails
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.4.8
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    defaults:
      run:
        working-directory: examples/rails
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          # Move autoload_externally to .bazelrc once Bazel 6 support is dropped.
          bazelrc: common --announce_rc --incompatible_autoload_externally=
          module-root: examples/rails
          repository-cache: true
      - run: echo ${{ matrix.ruby }} > .ruby-version
      - run: ./do_test

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - ruleset
      - examples-deep-gem
      - examples-gem
      - examples-jekyll
      - examples-native_ext
      - examples-rails
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7
    with:
      mount_bazel_caches: false
      prerelease: false
      release_files: rules_ruby-*.tar.gz
